[submodule "src/WebAPI/QN.Expenditure.Credentials"]
	path = src/WebAPI/QN.Expenditure.Credentials
	url = git@github.com:nhatquang-sl/QN.Expenditure.Credentials.git
[submodule "credentials"]
	path = credentials
	url = git@github.com:nhatquang-sl/credentials.git
