version: '3.4'

services:
  webapi:
    image: ${DOCKER_REGISTRY-}webapi
    build:
      context: .
      dockerfile: src/WebAPI/Dockerfile

  redis.cache:
    image: redis:latest
    container_name: redis.cache
    ports:
    - 6379:6379 